* {
    /* background-color: darkslategrey; */
    height: auto;
}

.myPosts {
    height: 30px;
    background-color: yellow;
    border: dotted black;
}

.myMess {
    height: 90px;
    background-color: grey;
    border: dotted black;
};